<%= render "shared/second-header"%>

<%= form_with model: @user, url: new_user_session_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='login-flash-message'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </div>
  <div class='form-header'>
    お帰りなさい！ログインしてね！
  </div>
  <div class="form-group">
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"Email(必須)", autofocus: true %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"Password(必須)" %>
  </div>
  <div class='login'>
    <%= f.submit "Log in" ,class:"login-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>